# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build
node_modules/
*.local

# Django specific files
__pycache__/
*.py[cod]
db.sqlite3
.env

# Django static and media files (if generated on the server)
staticfiles/
media/

# Frontend build files (optional if generated on the server)
frontend/dist/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
